{% from "_formhelper.html" import displayFeild %}
{% extends "base.html" %}
{% block head %}
<title>Personal Album</title>
{% endblock %}
{% block body %}
<div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto form p-4">
    <form method="POST" action="{{ url_for('register') }}" id='regForm'>
        {{ form.hidden_tag() }}
    
        {{ displayFeild(form.name, autofocus=true, autocomplete='off') }}

        {{ displayFeild(form.userID, autocomplete='off') }}

        {{ displayFeild(form.emailID, autocomplete='off') }}

        {{ displayFeild(form.mobileNo, autocomplete='off') }}

        {{ displayFeild(form.passwd, autocomplete='off') }}

        {{ displayFeild(form.confPasswd, autocomplete='off') }}

        <div class="btn btn-lg center">
            {{ form.submit }}
        </div>
    </form>
</div>
{% endblock %}